footer {
    background-color:black;
    color:white;
    padding: 10px 0;
    bottom: 0;
    width: 101.5%;
    margin:-10px;
  }
.contacts{
    text-align: center;
    font-size: 15px;
}
footer p{
    text-align: center;
    font-size: 10px;
}