
<section class="img">
    <h1>Welcome to our login page !!</h1>
</section>
<br><br>
<form class="loginform">
    <div id="loginError" *ngIf="loginerror!=''">{{loginerror}}</div>
    <br>
    <label class="UN">Username</label>
    <input type="email" id="username" name="username" placeholder="Enter your Username" [(ngModel)]="username"
        (input)="clearUsernameError()">
    <div id="unError" class="error" *ngIf="unerror!=''">{{unerror}}</div>
    <br>
    <br>
    <label class="PWD">Password</label>
    <input type="password" id="password" name="password" placeholder="Enter your Password" [(ngModel)]="password"
        (input)="clearPasswordError()">
    <div id="pwdError" class="error" *ngIf="pwderror!=''">{{pwderror}}</div>
    <br>
    <br>
    <button type="submit" (click)="onClick()">Login</button>
    <br>
    <br>
</form>

<!-- <h3 class="h3"><a href="#" class="forgotpwd" (click)="onclickForgot()">Forgot Password?</a></h3>
<h3 class="register" style="text-decoration: none;">Not a member? <a class="register" (click)="onClickRegister()">Register Now</a></h3> -->

<h3 class="h3"><a routerLink="/ForgotPassword" class="forgotpwd">Forgot Password?</a></h3>
<h3 class="register" style="text-decoration: none;">Not a member? <a class="register" routerLink="/Register">Register
        Now</a></h3>
