<section class="img">
    <h1>Welcome to our login page !!</h1>
</section>
<br><br>
<form class="loginform">
    <label class="UN">Username</label>
    <input type="email" id="username"> 
    <div id="unError" class="error"></div>
    <br>
    <br>
    <label class="PWD">Password</label>
    <input type="password" id="password">
    <div id="pwdError" class="error"></div>
    <br>
    <br>
    <button>Login</button>
    <br>
    <br>
</form>

<h3 class="h3"><a href="#" class="forgotpwd" (click)="onclickForgot()">Forgot Password?</a></h3>
<h3 class="register" style="text-decoration: none;">Not a member? <a class="register" (click)="onClickRegister()">Register Now</a></h3>