<!-- <app-nav (navClickedButton)="buttonChanged($event)"></app-nav> -->
<!-- <app-header *ngIf="buttonClicked === ''"></app-header>
<app-header *ngIf="buttonClicked === 'Home'"></app-header>
<app-login (forgotClick)="buttonChanged($event)" *ngIf="buttonClicked === 'Login'" ></app-login>
<app-forgotpassword *ngIf="buttonClicked === 'ForgotPasword'" ></app-forgotpassword>
<app-careers *ngIf="buttonClicked === 'Careers'"></app-careers>
<app-register *ngIf="buttonClicked === 'Register'"></app-register>
<app-blogs *ngIf="buttonClicked === 'Blog'"></app-blogs>
<br> -->


<app-nav></app-nav>
<router-outlet></router-outlet>
<br>
<app-footer></app-footer>