<section class="img">
    <h1>Forgot Password</h1>
</section>

<br><br>
<form class="forgotpwdform">
    <label class="UN">Username   </label>
    <input type="email" id="username" placeholder="Enter your Username"> 
    <div id="unError" class="error"></div>
    <br>
    <label class="PWD"> New Password   </label>
    <input type="password" id="password" placeholder="Enter new password">
    <div id="pwdError1" class="error"></div>
    <br>
    <label class="PWD"> Confirm Password   </label>
    <input type="password" id="conpassword" placeholder="Re-enter password">
    <div id="pwdError2" class="error"></div>
    <br>
    <button type="submit" class="sub">Change Password</button>
    <br>
    <br>
</form>