<section>
    <h2>Application Form</h2>
</section>
<br>
<div>
<form class="apply" >
    <label>First Name</label>
    <input id="firstname" type="text" placeholder="Enter your First Name">
    <!-- <div id="nameError" class="error-message"></div> -->
    <br>
    <label>Last Name</label>
    <input id="lastname" type="text" placeholder="Enter your Last Name">
    <!-- <div id="usernameError" class="error-message"></div> -->
    <br>
    <label>Email Address</label>
    <input id="email" type="email" placeholder="Enter your Email Address">
    <!-- <div id="pwdError" class="error-message"></div> -->
    <br>
    <label>Phone Number</label>
    <input id="phone" type="tel" placeholder="Enter your Phone Number">
    <!-- <div id="conpwdError" class="error-message"></div> -->
    <br>
    <label>Job Role</label>
    <select name="Job Roles" id="jobroles">
        <option value="" disabled selected>Select a job role</option>
        <option value="ForgeRock AM Developer">ForgeRock AM Developer</option>
        <option value="Business Analyst">Business Analyst</option>
        <option value="Angular Developer">Angular Developer</option>
        <option value="Data Scientist">Data Scientist</option>
        <option value="Cloud Solutions Architect">Cloud Solutions Architect</option>
        <option value="UX/UI Designer">UX/UI Designer</option>
    </select>    
    <br>
    <label>Country</label>
    <input id="country" type="text" placeholder="Enter your Country"> 
    <br>
    <label>City</label>
    <input id="city" type="text" placeholder="Enter your City"> 
    <!-- <div id="phoneError" class="error-message"></div> -->
    <br>
    <label>Address</label>
    <input id="address" type="address" placeholder="Enter your Address">
    <br>
    <label>Upload your resume</label>
    <input id="file" type="file">
    <br>
    <button type="submit" class="submit">Submit</button>
    <br>
</form>
</div>