h2{
    text-align: center;
    font-family: cursive;
    font-weight: bolder;
    font-size: 30px;
}
input{
    width:500px;
    height:40px;
    font-family: cursive;
    font-size: 20px;
    border:3px solid black;
    border-radius: 7px;
    padding: 10px;
}
select{
    width:500px;
    height:60px;
    font-family: cursive;
    font-size: 20px;
    border:3px solid black;
    border-radius: 7px;
    padding: 10px;
}
.apply{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align:center;
    font-family: cursive;
    font-size:20px;
    font-weight:bold;
    margin:0 auto;
    width:80%
}
.apply label{
    width:40%;
    text-align:left;
    margin-bottom: 10px;
}
.submit{
    font-size:20px;
    background-size: contain;
    font-weight:bold;
    text-decoration: none;
    color:black;
    text-align: center;
    font-family: cursive;
    padding:10px 10px;
}