<section class="img">
    <h1>Welcome to our registration page !!</h1>
</section>

<br><br>

<div>
<form class="register">
    <label>Full Name</label>
    <input id="name" type="text">
    <div id="nameError" class="error-message"></div>
    <br>
    <label>Email</label>
    <input id="username" type="email">
    <div id="usernameError" class="error-message"></div>
    <br>
    <label>Password</label>
    <input id="password" type="password">
    <div id="pwdError" class="error-message"></div>
    <br>
    <label>Confirm Password</label>
    <input id="confirm" type="password">
    <div id="conpwdError" class="error-message"></div>
    <br>
    <label>Phone Number</label>
    <input id="phone" type="tel">
    <div id="phoneError" class="error-message"></div>
    <br>
    <button type="submit" class="submit">Submit</button>
    <br>
</form>
</div>